.ProfitChart{
  width: 50px;
  height : 300px;
  border-radius: 15px;
  width: auto;
  position: relative;
  box-shadow: 0 0.5rem 1rem 0 rgba(226, 227, 234,0.4);
  background-color: #EFF1F8;
  padding : 25px;
}
