.ProductEditRow
{
  display: grid;
  grid-template-columns: 55px auto 55px;
  position: relative;
  height : 35px;
  color: #042C71;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(159,160,165,0.5);

}

.ProductEditRow-price{
  position: absolute;
  bottom: 12px;
  right : 175px;
  font-size: 0.9em;
  color : #042C71;
}

.ProductEditRow-name{
  position: absolute;
  top: 50%;
  left : 50px;
  transform: translate(0,-50%);
  font-size: 0.8em;
}

.ProductEditRow-image{
  position: absolute;
  top: 22px;
  left : 4px;
  background-color: #CD4811;
  height:35px;
  width: 35px;
  border-radius: 12px;
  transform: translate(0,-50%);
  background-size : cover;
  background-position: center;
}

.ProductEditRow-green
{
  font-size: 0.9em;
  color :#A1DE41!important;
}

.ProductEditRow-small
{
  font-size: 0.7em;
  color : #9FA0A5;
}

.ProductEditRow-options{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
}

.ProductEditRow-options input{
  width : 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #C7C8CE;
  padding : 5px;
}


.ProductEditRow-options button{
    border : none;
    outline : none;
    cursor : pointer;
    border-radius: 5px;
    font-size: 0.7em;
}

.ProductEditRow-options-delete{
  background-color: #EC161E;
  color : white;
}

.ProductEditRow-options-edit{
  background-color: #042C71;
  color : white;
}

.ProductEditRow-options{
  position: absolute;
  top : 50%;
  transform : translate(0,-50%);
  right : 5px;
}

.ProductEditRow-stock{
  position: absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  color : #6A6A6E;
  font-size: 0.8em;

}
