.LabelTable .TableElement-name
{
  font-size: 0.9em;
  left : 30px;
}

.LabelTable .TableElement-image{
  position: absolute;
  top: 22px;
  left : 4px;
  background-color: #CD4811;
  height:20px;
  width: 20px;
  border-radius: 5px;
  transform: translate(0,-50%);
  background-size : cover;
  background-position: center;
}
