/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius :3px;
  background-color: white;
  border: 2px solid rgb(198, 75, 137);
  transition : 0.2s ease;
}


/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}


.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8em;
  margin-left : 40px;
  color : #818181;
}

.container input:checked ~ .checkmark {
  background-color: rgb(198, 75, 137);
}
