.Profit{
  background-color: #EFF1F8;
  width: 50px;
  height : 150px;
  border-radius: 15px;
  width: auto;
  position: relative;
  box-shadow: 0 0.5rem 1rem 0 rgba(226, 227, 234,0.4);
  transition: 0.2s ease;
}

.Profit:hover{
  transform : scale(1.05);
}

.abs{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;

}

.Profit-value
{
  font-size: 2em;
  font-weight: bold;
  color : #A1DE41;
}

.Profit-head , .Profit-compare{
  font-size: 0.8em;
  color : #9FA0A5;
}

.prc-positive{
  color : #A1DE41;
}

.prc-negative{
  color:#EC161E;
}
