.ProductsInStore{
  background-color: #F36B1D;
  height : 150px;
  width: 50px;
  border-radius: 15px;
  width: auto;
  position: relative;
  display: grid;
  grid-template-columns: auto 120px;
  box-shadow: 0 0.5rem 1rem 0 rgba(243, 107, 29,0.4);
  transition: 0.2s ease;
}

.ProductsInStore:hover{
  transform : scale(1.05);
}


.ProductsInStore-icon {
  position: relative;
}

.ProductsInStore-icon .abs svg{
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
}


.ProductsInStore-icon .abs svg{
  font-size: 3em;
  color : white;
}

.ProductsInStore-text .abs{
  margin-left: 30px;
}

.ProductsInStore-text .abs p{

}

.ProductsInStore-text-text{
  font-size: 1.1em;
  color : white;
}


.ProductsInStore-text-value{
  font-size: 2.5em;
  color : white;
}
