.PanelSideBar{
  margin : 25px;
  background-color:#0C6AB0;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem 0 rgba(12, 106, 176,0.4);
}

.PanelSideBar .FormTitle{
  color : white!important;
  margin-top : 50px;
  font-size: 1.1em;
  font-weight: bold;
}
