@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
  margin: 0;
  padding : 0;
  font-family: 'Montserrat', sans-serif;
}

.AdminLogin .WhiteContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.mainPanel{
  box-sizing: border-box;
}

.mainPanel .Background{
  background-color: #F4F1F0!important;
}

.AdminLogin .Background
{
  background: rgb(146,24,113);
  background: linear-gradient(-180deg, rgba(238, 54, 85,1) 0%, rgba(240, 85, 64,1) 100%);

}

.infoContainer{
  margin-bottom : 25px;
}
