.FormButton{
  padding : 15px 10px 15px 10px;
  margin : 20px 40px 100px 40px;
  transition: 0.2s ease;
  border : none;
  outline:none;
  border-radius: 0;
  background-color: rgb(198, 75, 137);
  width : 270px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color : white;
}

.FormButton:hover
{
  background-color: rgb(217, 135, 176);
  cursor: pointer;
}
